.card {
  max-width: 420px;
  margin: 36px auto 0;
  padding: 33px 36px 25px 27px;

  .title {
    margin-bottom: 27px;
    color: var(--color-light-100);
    text-align: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    .avatar {
      position: relative;

      & button {
        position: absolute;
        right: 0;
        bottom: 0;

        width: 24px;
        height: 24px;
        padding: 0;

        > svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .information {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin-top: 10px;

      .name {
        margin: 0;

        button {
          all: unset;
          margin-left: 8px;
        }
      }

      .email {
        margin: 0 0 13px;
        color: var(--color-dark-100);
      }
    }

    form {
      width: 100%;
    }

    img {
      display: block;

      width: 100px;
      height: 100px;

      object-fit: cover;
      border-radius: 50%;
    }

    .changeName {
      display: block;
    }
  }
}

.optionBtn {
  margin-bottom: 15px;
}
