.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //text-align: center;
  padding: 33px 36px 60px;
  background-color: var(--color-dark-700);

  & h1 {
    text-align: center;
    margin: 0 0 51px;
  }

  & .desc {
    color: var(--color-light-900);
    margin: 20px 0 40px;
  }

  & input[type='password'] {
    color: var(--color-light-100);
  }
}
