.content {
  width: 480px;
  text-align: left;

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
  }

  @media screen and (width <=580px) {
    width: 100%;
    min-width: 250px;
  }
}
