.card {
  margin: 36px auto 0;
  padding: 33px 36px 60px;
  background-color: var(--color-dark-700);

  & h1 {
    margin: 0 0 51px;
    text-align: center;
  }

  & .desc {
    margin: 20px 0 40px;
    color: var(--color-light-900);
  }

  & .subtitle {
    margin: 20px 0 7px;
    color: var(--color-light-900);
    text-align: center;
  }

  & input[type='password'] {
    color: var(--color-light-100);
  }

  & .link {
    color: var(--color-accent-500);
    text-decoration: underline;
  }
}
