.signIn {
  padding: 33px 36px 25px 27px;
  max-width: 420px;
  margin: 36px auto 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 27px;
  color: var(--color-light-100);
}

.checkoxContainer {
  margin-bottom: 15px;
}

.forgotPassword {
  display: block;
  width: fit-content;
  margin-bottom: 60px;
  background-color: transparent;
  margin-left: auto;
}

.submitBtn {
  font-size: var(--font-size-s);
  color: var(--color-light-100);
  margin-bottom: 20px;
}

.subtitle {
  text-align: center;
  margin: 0 0 7px 0;
  color: var(--color-light-900);
}

a.signUp {
  color: var(--color-accent-500);
  text-decoration: underline;
}

.test {
  margin: 0 0 20px 0;
}
