.button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 28px;

  font-family: inherit;
  font-weight: 700;
  color: inherit;

  border-radius: 4px;

  fill: var(--color-light-100);

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  background-color: var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-900);
  }

  &.disabled {
    background-color: var(--color-accent-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &.disabled {
    background-color: var(--color-dark-300);
  }
}

.fullWidth {
  width: 100%;
}

.disabled {
  pointer-events: none;
  color: var(--color-light-900);

  & svg {
    // сработает если, внутри svg не объявлен fill
    fill: var(--color-light-900);
  }
}
