.back {
  display: flex;
  gap: 6px;
  align-items: center;
  text-decoration: none;

  div {
    margin: 0 0 33px;
  }
}

.card {
  width: 480px;
  margin: 0 auto;
  padding: 33px 36px 48px;

  @media screen and (width <=580px) {
    width: 100%;
    min-width: 200px;
  }
}

.title {
  margin: 0 0 45px;
  text-align: center;
}

.answerContainer,
.questionContainer {
  display: flex;
  gap: 5px;
  margin-bottom: 12px;
}

.shots {
  margin: 0 0 40px;
  color: var(--color-dark-100);
}

.rate {
  margin: 0 0 12px;
}

.radio {
  margin: 0 0 30px;
}

.imageContainer {
  img {
    width: 100%;
    height: auto;
  }
}
