.back {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  div {
    margin: 0 0 33px 0;
  }
}

.card {
  width: 480px;
  padding: 33px 36px 48px 36px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.questionContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 5px;
}

.shots {
  margin: 0 0 40px 0;
  color: var(--color-dark-100);
}
