.wrapper {
  position: relative;
  color: var(--color-light-100);
}

.wrapperError {
  margin-bottom: 25px;
}

.button {
  all: unset;

  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;

  color: var(--color-light-100);

  svg {
    width: 20px;
    height: 20px;
  }

  &.disabled {
    cursor: auto;
  }
}

.input {
  cursor: text;

  width: 100%;
  height: 36px;
  padding-right: 25px;
  padding-left: 12px;

  color: var(--color-light-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &[type='search'] {
    &::-webkit-search-cancel-button {
      appearance: none;
    }

    &::-ms-clear {
      display: none;
    }
  }

  &.search {
    padding-left: 35px;
  }

  &:hover {
    border-color: var(--color-dark-100);
  }

  &:focus {
    border-color: var(--color-info-700);
    outline: 1px solid var(--color-info-700);
  }
}

.error {
  color: var(--color-danger-300);
  border-color: var(--color-danger-300);
}

.errorText {
  position: absolute;
  font-size: 12px;
  color: var(--color-danger-300);
}

.disabled {
  pointer-events: none;
  cursor: auto;
  color: var(--color-dark-300);
  border-color: var(--color-dark-300);
}

.searchIcon {
  position: absolute;
  top: 8px;
  left: 8px;

  width: 20px;
  height: 20px;
}

.label {
  cursor: pointer;
  display: block;
  color: var(--color-dark-100);

  &.disabled {
    color: var(--color-dark-300);
  }
}
