.dropdownItem {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  img {
    margin-right: 6px;
  }
}
img {
  width: 36px;
  border-radius: 30px;
}
.trigger {
  display: flex;
  align-items: center;
  gap: 5px;
}
a.link {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
}
