.topContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media screen and (width <=580px) {
    flex-direction: column;
    gap: 10px;
  }
}

.title {
  margin: 0;
}

.back {
  display: flex;
  gap: 6px;
  align-items: center;
  text-decoration: none;

  div {
    margin: 0 0 33px;
  }
}

.image {
  width: 170px;
  height: 107px;
  margin-bottom: 25px;
  object-fit: contain;
}

.pagination {
  margin-top: 24px;
}

.search {
  margin-bottom: 24px;
}

.cardInfoContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cardsMobile {
  display: none;

  @media screen and (width <=580px) {
    display: block;
  }
}

.cardsList {
  @media screen and (width <=580px) {
    display: none;
  }
}
